<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fileinput.css">
    <link type="text/css" rel="stylesheet" href="/static/css/mynav.css">
    <link rel="icon" href="/static/icons/lbs.ico" type="image/x-icon"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/fileinput.js"></script>
    <script src="/static/js/fileinput_locale_zh.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/AdminHome.js"></script>
    <script src="/static/js/UserHome.js"></script>
    <title>404</title>
</head>
<body>
404
</body>