
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fileinput.css">
    <link rel="icon" href="/static/icons/lbs.ico" type="image/x-icon"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/fileinput.js"></script>
    <script src="/static/js/fileinput_locale_zh.js"></script>
    <script src="/static/js/ajax.js"></script>
    <title>管理员主页</title>
</head>
<body>
<div class="container">
    <div class="row"></div>
</div>
</body>
</html>
